h1 {
color: #111111;
font-family: sans-serif;
font-size: 32px;
color: white;
}

p {
color: #111111;
font-family: sans-serif;
color: white;
}

nav ul li {
display: inline;
border-right: 2px solid: #111111;
padding-right: 8px;
}

nav ul {
list-style-type: none;
background-color: #1b49a0;
border: 4px solid #1d682d;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;
padding: 16px;
}

nav ul li {
display: inline;
border-right: 2px solid #111111;
padding-right: 8px;
padding-left: 8px;
}

nav ul li:last-child {
border-right: none;
}

nav ul li a {
text-decoration: none;
color: #bbbbbb;
}

body {
background-image: url("arkaplan.jpeg");
}


/* Genel stil */
body {
    font-family: Arial, sans-serif;
  }

  /* Ana yazı stil */
  .menu {
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    list-style-type: none;
background-color: #1b49a0;
border: 4px solid #1d682d;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;
padding: 16px;
  }

  /* Sekmelerin başlangıçta gizli olmasını sağla */
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
  }

  .submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Yazının üzerine gelindiğinde sekmeleri göster */
  .menu:hover .submenu {
    display: block;
    
  }